* {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  background-image: url('../assets/hill-view.gif');
  /* background-repeat: repeat; */
}

#main-container {
  display: block;
  border: 3px solid lightgray;
  border-radius: 5px;
}

#entry-creator {
  color: black;
  margin: 10px;
}

#entry-creator input {
  color: black;
}

#create-entry-button {
  background-color: lightgrey;
  color: black;
}

#entry-container {
  display: flex;
}

.entry {
  margin: 10px;
  border: 2px solid lightgray;
  border-radius: 5px;
}

.entry div {
  margin: 5px;
}

/* 
stretch goals: 
animation where cards will show a snowboarder gif/animation while waiting for fetches
*/
