* {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  background-image: url('../assets/hill-view.gif');
  background-size: cover;
  /* background-repeat: repeat; */
}

#main-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 3px solid lightgray;
  border-radius: 5px;
}

#user-input-container {
  display: grid;
  /* grid-template-columns: 1; */
  grid-template-rows: 1fr 3fr;
}

#entry-creator {
  color: black;
  margin: 10px;
  font-size: 24px;
  display: grid;
  /* grid-template-columns: 1fr 2fr; */
}

#user-selection {
  margin: 25px;
  font-size: 24px;
}

#dropdown-container {
  margin: 20px;
  font-size: 20px;
}

#dropdown-container div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#dropdown-container select {
  /* margin-left: 20px; */
  color: black;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-label {
  font-size: 24px;
  margin-right: 15px;
}

#entry-creator input {
  color: black;
  font-size: 24px;
}

#create-entry-button {
  background-color: lightgrey;
  color: black;
  font-size: 24px;
}

#entry-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 5px;
}

.entry {
  margin: 10px;
  border: 2px solid lightgray;
  border-radius: 5px;
}

.entry-headers {
  display: grid;
  grid-template: auto / repeat(2, 1fr);
  grid-template-areas: 'top top' 'lat long';
  text-align: center;
  font-size: 20px;
}

.entry-headers div {
  margin: 5px;
}

.top {
  grid-area: top;
  display: flex;
}

.name {
  flex: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----delete button animation---- */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  /* 50% {
    transform: translateY(-5px);
  } */
  100% {
    transform: translateY(-5px);
  }
}
.bounce:hover {
  animation-name: bounce;
  animation-timing-function: ease;
  animation-duration: 1s;
  animation-iteration-count: 1;
  transform-origin: bottom;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.pulse:hover {
  animation-name: pulse;
  animation-timing-function: ease;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.delete-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.delete-container:hover {
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 0 2px 3px lightgray;
}

.delete-container:hover .delete-button {
  cursor: pointer;
  animation-name: pulse;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.delete-button {
  height: 30px;
  width: 30px;
  background-image: url('../assets/trash-can.png');
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
}

.latitude {
  grid-area: lat;
}
.longitude {
  grid-area: long;
}

.entry-headers {
  margin: 10px;
}

.data h4 {
  margin-left: 15px;
  margin-top: 10;
}

/* 
stretch goals: 
animation where cards will show a snowboarder gif/animation while waiting for fetches
*/
