* {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  background-image: url('../assets/hill-view.gif');
  background-size: cover;
  /* background-repeat: repeat; */
}

#main-container {
  display: block;
  border: 3px solid lightgray;
  border-radius: 5px;
}

#entry-creator {
  color: black;
  margin: 10px;
  font-size: 24px;
  /* display: flex; */
}

.input-label {
  font-size: 24px;
  margin-right: 15px;
}

#entry-creator input {
  color: black;
  font-size: 24px;
}

#create-entry-button {
  background-color: lightgrey;
  color: black;
  font-size: 24px;
}

#entry-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 5px;
}

.entry {
  margin: 10px;
  border: 2px solid lightgray;
  border-radius: 5px;
}

.entry-headers {
  display: grid;
  grid-template: auto / repeat(2, 1fr);
  grid-template-areas: 'top top' 'lat long';
  text-align: center;
  font-size: 20px;
}

.entry-headers div {
  margin: 5px;
}

.top {
  grid-area: top;
  display: flex;
}

.name {
  flex: 10;
}
.delete-button {
  height: 30px;
  width: 30px;
  background-image: url('../assets/trash-can.png');
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
}

.delete-button:hover {
  padding: 15px;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 5px;
  box-sizing: border-box;
}

.latitude {
  grid-area: lat;
}
.longitude {
  grid-area: long;
}

.entry-headers {
  margin: 10px;
}

.data h4 {
  margin-left: 15px;
  margin-top: 10;
}

/* 
stretch goals: 
animation where cards will show a snowboarder gif/animation while waiting for fetches
*/
